body {
    max-width: 1200px;
    align-content: center;
    margin: auto;
}

box {
    margin: 10px;
}

div.box.result {
    background-color: lightgrey;
    text-align: center;
    font-weight: bold;
}

div {
    text-align: center;
}

p.dish {
    font-size: xx-large;
    font-weight: bolder;
    color: greenyellow;
}

button {
    margin: 10px;
}

p {
    margin: 10px;
}

h1 {
    margin: 10px;
    text-align: center;
}

img {
    max-width: 200px;
    max-height: 200px;
}