#language-dropdown {
    position: absolute;
    right: 13px;
    top: 5px;
    z-index: 100;
}

body {
    max-width: 1200px;
    align-content: center;
    margin: auto;
}

box {
    margin: 5px;
}

div.card-content {
    padding: 1.0rem;
}

div.box.result {
    background-color: lightgrey;
    text-align: center;
    font-weight: bold;
}

div {
    text-align: center;
}

p.dish {
    font-size: xx-large;
    font-weight: bolder;
    color: greenyellow;
}

button {
    margin: 5px;
}

p {
    margin: 5px;
}

h1 {
    margin: 10px;
    text-align: center;
}

img {
    max-width: 200px;
    max-height: 200px;
}